<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django E-Commerce{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen"/>
</head>
<body>
    {% include 'includes/navbar.html' %}
    <div class="container">
        {% block container %}
        {% endblock %}
        {% include 'includes/footer.html' %}
    </div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'assets/bootstrap.min.js' %}"></script>
</body>
</html>